<nav class="navbar-color">
    <ul class="main-list my-auto ">

        {{!-- Garofoli --}}

        <li class="garofoli-collection"><a href="#" class="titre-garofoli link-garofoli">Garofoli</a>
            <div class="mx-auto border-bottom-garofoli"></div>
            <ul class="sous">

                {{!-- --}}
                <div class="sous-div">
                    <li class="sous-li font-color-garofoli">TYPES DE PORTES</li>
                    <ul>
                        <li> <a href="#" class="link-garofoli">Portes d'intérieur</a> </li>
                        <li> <a href="#" class="link-garofoli">Portes blindés</a> </li>
                        <li> <a href="#" class="link-garofoli"> Portes affleurantes</a></li>
                        <li> <a href="#" class="link-garofoli">Portes coupe-feu</a> </li>
                        <li> <a href="#" class="link-garofoli">Portes sur mesure</a> </li>
                    </ul>
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div">
                    <li class="sous-li font-color-garofoli">MATERIAUX</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">Portes en bois</a></li>
                        <li><a href="#" class="link-garofoli">Portes laquées</a></li>
                        <li><a href="#" class="link-garofoli">Portes en laminé</a></li>
                        <li><a href="#" class="link-garofoli">Portes en verre</a></li>
                    </ul>
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div types-ouvertures">
                    <li class="sous-li font-color-garofoli">TYPES D'OUVERTURES</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">Portes battantes</a></li>
                        <li><a href="#" class="link-garofoli">Portes pliantes</a></li>
                        <li><a href="#" class="link-garofoli">Portes coulissantes</a></li>
                        <li><a href="#" class="link-garofoli">Portes à roto translation</a></li>
                        <li><a href="#" class="link-garofoli">Portes pivotantes</a></li>
                        <li><a href="#" class="link-garofoli">Double battant</a></li>
                    </ul>
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div">
                    <li class="sous-li portes portes-modernes font-color-garofoli">PORTES</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">FILOMURO</a></li>
                        <li><a href="#" class="link-garofoli">AVIO</a></li>
                        <li><a href="#" class="link-garofoli">GABILIA</a></li>
                        <li><a href="#" class="link-garofoli">G-LIKE</a></li>
                        <li><a href="#" class="link-garofoli">LUXPOEMA</a></li>
                        <li><a href="#" class="link-garofoli">PANGEA</a></li>
                        <li><a href="#" class="link-garofoli">POEMA</a></li>
                        <li><a href="#" class="link-garofoli">STILIA</a></li>
                    </ul>
                </div>
                <div class="sous-div mb-2">
                    <li class="sous-li pr-5 modernes font-color-garofoli">MODERNES</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">1000COLOURS</a></li>
                        <li><a href="#" class="link-garofoli">BISYSTEM</a></li>
                        <li><a href="#" class="link-garofoli">GDESIGNER</a></li>
                        <li><a href="#" class="link-garofoli">LAMMY POEMA</a></li>
                        <li><a href="#" class="link-garofoli">NO-LIMITS</a></li>
                        <li><a href="#" class="link-garofoli">PATIO</a></li>
                        <li><a href="#" class="link-garofoli">SMART</a></li>
                        <li><a href="#" class="link-garofoli">XONDA</a></li>
                    </ul>
                </div>
                {{!-- --}}


                {{!-- --}}
                <div class="sous-div">
                    <li class="sous-li portes-c font-color-garofoli">PORTES</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">110 E LODE</a></li>
                        <li><a href="#" class="link-garofoli">CLASSICA</a></li>
                        <li><a href="#" class="link-garofoli">GENIA</a></li>
                        <li><a href="#" class="link-garofoli">MILIA</a></li>
                        <li><a href="#" class="link-garofoli">MIRAQUADRA</a></li>
                        <li><a href="#" class="link-garofoli">SPENIA</a></li>
                        <li><a href="#" class="link-garofoli">XOSIA</a></li>
                    </ul>
                </div>

                <div class="sous-div">
                    <li class="sous-li classiques font-color-garofoli">CLASSIQUES</li>
                    <ul>
                        <li><a href="#" class="link-garofoli">ARCA</a></li>
                        <li><a href="#" class="link-garofoli">DORE</a></li>
                        <li><a href="#" class="link-garofoli">IO</a></li>
                        <li><a href="#" class="link-garofoli">MIRABILIA</a></li>
                        <li><a href="#" class="link-garofoli">MIRAWOOD</a></li>
                        <li><a href="#" class="link-garofoli">SUBLIMA</a></li>
                    </ul>
                </div>
                {{!-- --}}
            </ul>
        </li>


        {{!-- Secco --}}


        <li class="secco-collection"><a href="#" class="titre-secco link-secco">Secco</a>
            <div class="mx-auto border-bottom-garofoli"></div>
            <ul class="sous">

                {{!-- --}}
                <div class="sous-div listes-secco">
                    <li class="sous-li font-color-secco">MATERIAUX</li>
                    <ul>
                        <li> <a href="#" class="link-secco">Acier Zingué</a> </li>
                        <li> <a href="#" class="link-secco">Acier Inox</a> </li>
                        <li> <a href="#" class="link-secco">Acier Corten</a></li>
                        <li> <a href="#" class="link-secco">Laiton</a> </li>

                    </ul>
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div listes-secco">
                    <li class="sous-li font-color-secco">DOWNLOAD</li>
                    <ul>
                        <li><a href="#" class="link-secco">Matériel technique</a></li>
                        <li><a href="#" class="link-secco">Catalogues commerciaux</a></li>
                        <li><a href="#" class="link-secco">Certifications</a></li>
                        <li><a href="#" class="link-secco">Presse et publicité</a></li>

                    </ul>
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div listes-secco">
                    <li class="sous-li"></li>
                    <ul>
                        <li class="tous-les-produits"><button type="button" class="btn btn-outline-danger">TOUS LES
                                PRODUITS</button></li>

                    </ul>
                </div>
                {{!-- --}}
            </ul>
        </li>


        <li><a href="#" class="link-other">Logo</a></li>



        {{!-- Torterolo --}}

        <li class="torterolo-collection"><a href="#" class="titre-torterolo link-torterolo">Toterolo & re</a>
            <div class="mx-auto border-bottom-garofoli"></div>
            <ul class="sous">

                {{!-- --}}
                <div class="sous-div  my-auto mx-auto">
                    <li class="sous-li font-color-torterolo"><h5><a href="#">PORTES BLINDES</a></h5></li>                    
                </div>
                {{!-- --}}

                {{!-- --}}
                <div class="sous-div  my-auto mx-auto">
                    <li class="sous-li font-color-torterolo mx-auto"><h5><a href="#">REVETEMENTS</a></h5></li>
                    
                </div>
                {{!-- --}}
                
            </ul>
        </li>


        <li><a href="#" class="link-other">A propos</a></li>

    </ul>
</nav>