<div class="" id="home-garofoli"></div>
<div class="section-garofoli">
    <div class="container">
        <div class="row my-5 pt-5">
            <h1 class="text-center">CHOISISSEZ LA PORTE DE VOTRE <span style="color : #0f8a43">PROJET</span></h1>
        </div>

        {{!-- Types d'ouvertures ------}}

        <div class="row text-center mb-5 pt-5">
            <div class="col-md-6 my-auto">
                <div class="mb-5 survol-couleur-garofoli">
                    <h3 class="">TYPES DE PORTES</h3>
                    <div class="border-bottom-typesdeportes mx-auto"></div>
                </div>
                <p class="align-items-center">Vous êtes en train de rénover votre maison ? Choisir la bonne porte est
                    très important pour meubler
                    et pour rendre les espaces plus pratiques. Explorez toutes nos collections et découvrez pourquoi nos
                    produits sont soignés comme aucun produit artisanal, et sont uniques comme aucun produit industriel.
                </p>
            </div>
            {{!-- image --}}
            <a class="col-md-6 text-center" href="#">
                <img style="width : 90%" src="../../../assets/images/home/garofoli/types-de-portes.jpg" alt="">
            </a>
            {{!-- /image --}}
        </div>




        {{!-- Matériaux ----------------}}

        <div class="row mb-5">
            {{!-- image --}}
            <a class="col-md-6 text-center" href="#"><img style="width : 90%"
                    src="../../../assets/images/home/garofoli/materiaux.jpg" alt="">
            </a>
            {{!-- /image --}}
            
            <div class="col-md-6 my-auto">
                <div class="survol-couleur-garofoli">
                    <h3>MATERIAUX</h3>
                    <div class="border-bottom-materiaux "></div>
                </div>
                {{!-- button --}}
                <div class="div-btn-garofoli">
                    <button class="btn-garofoli">
                        <a href="#" class="text-white text-decoration-none">DECOUVRIR PLUS</a>
                        <i class="fas fa-long-arrow-alt-right fa-1x text-white"></i>
                    </button>
                </div>
                {{!-- /button --}}

            </div>
        </div>




        {{!-- Types d'ouvertures ------------------}}

        <div class="row mb-5">
            <div class="col-md-6 my-auto survol-couleur-garofoli">
                <h3 class="types-douvertures">TYPES D'OUVERTURES</h3>
                <div class="border-bottom-typesdouvertures "></div>

                {{!-- Button --}}
                <div class="div-btn-garofoli" style="text-align: right; margin-right:50px;">
                    <button class="btn-garofoli">
                        <a href="#" class="text-white text-decoration-none">DECOUVRIR PLUS</a>
                        <i class="fas fa-long-arrow-alt-right fa-1x text-white"></i>
                    </button>
                </div>
                {{!-- /button --}}
            </div>
            {{!-- image --}}

            <a class="col-md-6 text-center" href="#">
                <img style="width : 90%" src="../../../assets/images/home/garofoli/types-d-ouvertures.jpg" alt="">
            </a>
        </div>
        {{!-- /image --}}






        {{!-- Collections ------------}}

        <div class="row">
            {{!-- image --}}
            <a class="col-md-6 text-center" href="#">
                <img style="width : 90%" src="../../../assets/images/home/garofoli/collections.jpg" alt="">
            </a>
            {{!-- /image --}}

            <div class="col-md-6 my-auto">
                <div class="survol-couleur-garofoli">
                    <h3>COLLECTIONS</h3>
                    <div class="border-bottom-collections "></div>
                </div>
                {{!-- button --}}
                <div class="div-btn-garofoli">
                    <button class="btn-garofoli">
                        <a href="#" class="text-white text-decoration-none">DECOUVRIR PLUS</a>
                        <i class="fas fa-long-arrow-alt-right fa-1x text-white"></i>
                    </button>
                </div>
                {{!-- /button --}}
            </div>
        </div>
    </div>
</div>