<div class="container-fluid px-0">
    <div class="header">
        <div class="row mx-0">
            <div class="col-md-8 ">
                <h1 class="titre-header">PLUS DE VALEURS A VOTRE PROJET,</h1>
                <h1 class="second-titre-header">PLUS D'IDEES POUR VOTRE MAISON</h1>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn-header text-center"><a href="#home-garofoli" class="text-btn-header">Voir
                        plus</a></button>
            </div>
            <div class="col-md-12 text-center">
                <i class="icon-header1 fas fa-chevron-down "></i>
            </div>
            <div class="col-md-12 text-center" >
                <i class="icon-header2 fas fa-chevron-down "></i>
            </div>
        </div>


    </div>

</div >