<section class="container-fluid  bg-dark ">

    <div class="mx-auto col-md-6">

        <div class="text-center mt-5 mb-2">
            <h2 class="text-white title-contact" id="contact">CONTACTEZ-NOUS</h2>
        </div>





        <div class="text-center my-4 mx-auto ">

            <!-- Nom--->

            <form action="/message/post" method="POST" class="needs-validation text-white">
                <div class="form-row row ">
                    <div class="col-md-6 mb-3 ml-auto mr-auto ">
                        <label for="validationTooltip01 ">Nom</label>
                        <input type="text" name="nameMessage" class="form-control " id="validationTooltip01 " value=" ">
                        <div class="valid-tooltip ">
                            Looks good!
                        </div>
                    </div>

                    {{!-- Prénom --}}

                    <div class="col-md-6 mb-3 ml-auto mr-auto text-white ">
                        <label for="validationTooltip01 text-white">Prénom</label>
                        <input type="text" name="firstNameMessage" class="form-control " id="validationTooltip01 "
                            value=" ">

                        <div class="valid-tooltip ">
                            Looks good!
                        </div>
                    </div>

                    <!-- Adresse Mail --->

                    <div class="col-md-6 mb-3 ml-auto mr-auto text-white ">
                        <label for="validationTooltip01 text-white">Adresse Mail</label>
                        <input type="text" name="emailMessage" class="form-control " id="validationTooltip01 "
                            value=" ">
                        <div class="valid-tooltip ">
                            Looks good!
                        </div>
                    </div>
                </div>

                <!-- Objet --->

                <div class="form-row ">
                    <div class="col-md-12 mb-3 text-center ml-auto mr-auto text-white ">
                        <label for="validationTooltip01 text-white">Objet :</label>
                        <input type="text" name="objectMessage" class="form-control " id="validationTooltip01 "
                            value=" ">
                        <div class="valid-tooltip ">
                            Looks good!
                        </div>
                    </div>
                </div>

                <!-- Commentaires- -->

                <div class="form-group text-center text-white">
                    <label for="exampleFormControlTextarea1 text-white">Description</label>
                    <textarea class="form-control" name="contentMessage" id="exampleFormControlTextarea1 "
                        rows="3 "></textarea>
                </div>

                <div class="row ">
                    <div class="col-md-12 text-center mt-5 ">
                        <button class="btn btn-light text-dark" type="submit">
                            Envoyer</button>
                    </div>
                </div>

            </form>


        </div>

    </div>
</section>