<header class="bg-header my-auto d-flex align-items-center">

    <div class="col-md-12 text-center ">

        <h1 class="mb-3 display-3 animate__animated animate__backInLeft ">Menuiserie Margot</h1>
        <h2 class="diplay-3 mb-2 animate__animated animate__backInRight">Artisan Menuisier</h2>
        <h4 class="animate__animated animate__backInRight">Île de france</h4>
        
        <button type="button" class="btn btn-light mt-4 px-3 py-2 animate__animated animate__backInRight"> <a
                href="#contactez-nous" class="text-dark">Contactez-nous</a> </button>
    </div>

    
</header>