<section class="container-fluid bg-parcours text-center" id="parcours">

    <h2 class="title-parcours mt-5 mb-4">Qui sommes-nous ?</h2>

    <div class="row">



        <div class="col-md-6">



            {{!-- Titre --}}

            <div class="row ">
                <div class="col-md-12 mt-5 mb-3 animate__animated animate__backInLeft">
                    <h4 class="title-parcours">Mon CV</h4>
                </div>
            </div>

            {{!-- Fin du titre --}}

            <div class="row animate__animated animate__backInLeft mb-2">
                <div class="col-md-12 ">
                    <h5>2019</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours font-size-parcours">Ouverture de l'entreprise
                        Menuiserie
                        Margot</p>
                </div>
            </div>

            <div class="row animate__animated animate__backInLeft mb-2">
                <div class="col-md-12  ">
                    <h5>2017</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Trophée du meilleur conducteur de travaux en
                        Menuiserie au
                        sein de Ridoret Menuiserie</p>
                </div>
            </div>

            <div class="row animate__animated animate__backInRight mb-2">
                <div class="col-md-12">
                    <h5>2013 - 2018</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Conducteur de travaux en Menuiserie chez Ridoret
                        Menuiserie
                    </p>
                </div>
            </div>

            {{!-- Certification conducteur de travaux --}}

            <div class="row animate__animated animate__backInLeft mb-4">
                <div class="col-md-12">
                    <h5>2013 - 2014</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Certificat de Qualifications Professionnelles
                        conducteur de
                        travaux en Menuiserie </p>
                </div>
                <div class="col-md-4 mx-auto ">
                    <button type="button" class="btn-diplome btn btn-dark d-flex mx-auto"><a
                            class="text-decoration-none text-light" href="/assets/images/parcours/certif-conduc.jpg"
                            target="_blank">Voir diplôme</a> </button>
                </div>

            </div>

            {{!-- Fin Certification conducteur de travaux --}}


            {{!-- Brevet pro --}}

            <div class="row animate__animated animate__backInRight mb-4">
                <div class="col-md-12">
                    <h5>2011 - 2013</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Formation Brevet Professionnel Menuiserie aux
                        compagnons du
                        Tour de France </p>
                </div>
                <div class="col-md-4 mx-auto ">
                    <button type="button" class=" btn-diplome btn btn-dark d-flex mx-auto"><a
                            class="text-decoration-none text-light" href="/assets/images/parcours/bp.jpg "
                            target="_blank">Voir
                            diplôme</a> </button>
                </div>
            </div>

            {{!-- Fin Brevet pro --}}


            <div class="row animate__animated animate__backInLeft mb-2">
                <div class="col-md-12 ">
                    <h5>2010 - 2011</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Médaille d'or au concours des Meilleurs Aprentis de
                        France
                    </p>
                </div>
            </div>

            {{!-- CAP --}}

            <div class="row animate__animated animate__backInRight mb-4 ">
                <div class="col-md-12 mt-3 ">
                    <h5>2009 - 2011</h5>
                    <div class="verticalline mx-auto"></div>
                    <p class="font-weight-bold font-size-parcours">Formation CAP Menuiserie aux compagnons du tour de
                        France</p>
                </div>
                <div class="col-md-4 mx-auto ">
                    <button type="button" class="btn-diplome btn btn-dark d-flex mx-auto"><a
                            class="text-decoration-none text-light" href="/assets/images/parcours/cap.jpg"
                            target="_blank">Voir
                            diplôme</a> </button>
                </div>
            </div>

            {{!-- Fin CAP --}}


        </div>









        <div class="col-md-5 mt-5 mx-auto ">

            {{!-- Contenu de la section --}}
            <div class="mx-auto">

                {{!-- Coordonnées de l'artisan --}}
                <div class=" text-center mt-2">
                    <div class="col-md-12 mb-1 mb-4">
                        <h3 class="font-weight-bold title-parcours">Artisan Menuisier</h3>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h4>Florent Fosse</h4>
                    </div>
                    <div class="col-md-12 mb-3"><img src="assets/images/parcours/profil-artisan.png" alt=""
                            style="width : 30%">
                    </div>
                    
                    <div class="col-md-12">
                        <h4><em>06 59 81 15 51</em> </h4>
                    </div>
                </div>
                {{!-- /Coordonnées de l'artisan --}}


            </div>



            {{!-- iframe google maps --}}
            <div class="mt-5 mb-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d782.9959557126416!2d2.3830574661097605!3d48.69259776910623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5df6265db8b6d%3A0xebd8c4e0277eb663!2sRue%20Marguerite%2C%2091200%20Athis-Mons!5e0!3m2!1sfr!2sfr!4v1594130678894!5m2!1sfr!2sfr"
                    width="80%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            {{!-- /iframe google maps --}}



        </div>

    </div>

</section>