<section class=" bg-real" id="realisations">


<div class="container d-flex align-items-center my-auto h-100">

    <div class="row my-auto">

        <div class="col-md-4 text-center mx-auto mt-5 pt-4">
            <h2 class="title-real mb-5" >Mes réalistaions</h2>

            <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nihil tempora, facilis corrupti autem
                ipsam modi voluptatum accusamus. Velit aperiam similique laudantium voluptatibus ad ut dolores
                temporibus natus quibusdam vitae?</p>

            
            <button type="button" class="btn btn-dark mt-4 px-3 py-2"> <a
                href="#contact" class=" text-white text-decoration-none">Demande de devis</a> </button>

        </div>


        {{!-- Carousel --}}
        <div class="col-md-7 mx-auto mt-4">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/images/les-realisations/realisation1.jpg" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/les-realisations/realisation2.jpg" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/les-realisations/realisation3.jpg" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>
</div>

</section>