.bg-parcours {
    /* background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(/assets/images/parcours/cap.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    color: black !important;
}

.title-parcours {
    text-decoration: underline;
}

.font-size-parcours {
    font-size: 17px !important;
}

.btn-diplome a {
    font-size: 11px;
}